<div class="text-center mb-5">
  <h1>お気に入り一覧</h1>
</div>

<div class="favoite-restaurants">
  <%= render 'layouts/restaurants', restaurants: @approvings %>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= link_to 'トップページに戻る', toppages_index_path, class: 'btn btn-block btn-primary mt-3' %>
    </div>
  </div>
</div>