<div class="center jumbotron">
  <div class="text-center mb-4">
    <p class="mb-3">自分の興味のあるお店をお気に入り登録するだけで、いつでもどこでも閲覧可能！</p>
    <p>お気に入り登録するには星マークをクリック！<i class="far fa-thumbs-up"></i></p>
  </div>
  
  <div class="text-center">
    <%= link_to '検索する', toppages_index_path, class: 'btn btn-success' %>
  </div>
</div>
