<%# レストラン一覧表示の時に用いるレビューボタン %>
<div class="follow-button mb-3">
  
<% if current_user.reviewings?(restaurant) %>
<%# すでにレビューしている場合はlikes#destroyへ飛ばす %>
    <%= link_to 'レビューを削除する', restaurant_like_path(restaurant, like), method: :delete, class: 'btn btn-block btn-danger' %>
  
  
<% else %>
<%# まだレビューしていない場合はlikes#newへ飛ばす %>
  <%= link_to 'レビューを投稿する', new_restaurant_like_path(restaurant), class: 'btn btn-success btn-block' %>
<% end %>
</div>